.card {
  background-color: #343A40;
  height: 100%;
  margin-bottom: 15px;
}
.complete-btn, .delete-btn {
  border-radius: 50px;
  color: #23292F;
}
.todo-card {
  background-color: #FA21EB;
  color: #23292F;
  /* padding: 5px 5px; */
  border-radius: 50px;
}
.todo-card:hover {
  cursor: pointer;
}
.todo-text {
  margin-top: 5px;
  margin-left: 20px;
  font-size: 30px;
  align-self: center;
  
}
.completed {
  text-decoration: line-through;
}
.todo-input {
  width: 50%;
  height: 60px;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  padding-left: 25px;
}

.far,.fas:hover {
  cursor: pointer;
}

.App {
  color: #DFDFDF;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.filter:hover {
  cursor: pointer;
}

.nav-card {
  height: 100px;
  color: #FA21EB;
}
.App-name {
  font-weight: bold;
  color: #FA21EB;
}

.add-task {
  color: #FA21EB;
}